@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background-color: #000; 
    color: #fff; 
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #111; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center; 
}

.login-container h1 {
    margin-bottom: 20px;
    color: #eee;
}

.input-group {
    margin-bottom: 15px;
    text-align: left; 
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #aaa;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #222;
    color: #eee;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid rgb(139, 139, 139);
}

button:hover {
    background-color: #0dbd16;
}

.signup-link {
    margin-top: 20px;
    color: #888;
}

.signup-link a {
    color: #64b5f6;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}